body {
  background: #111;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.login-box, .panel-box {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: dodgerblue;
  color: 8000ff;
  border: none;
  border-radius: 5px;
}

.error {
  color: red;
}
